/* Colores y tipografía base */
QWidget {
    font-family: 'Roboto', sans-serif;
    background-color: #a9becc; /* Un blanco con un toque de gris */
    color: #333; /* Negro suave para mejor contraste */
}
QWidget#topBar{
    background-color: #106484;
    color: #ffffff;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}
QWidget#menu_widget{
    background-color: #106484;
}

QWidget#sideMenu{
    background-color: #a9becc;
    color: #333;
    border-right: 1px solid #a78958;
}

/* Botones */
QPushButton {
    background-color: #f854ed;
    color: #ffffff;
    border: none;
    /*padding: 8px 16px; Tamaño consistente */
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
}

QPushButton:hover {
    background-color: #536f7c; /* Un tono más oscuro para el hover */
}
QPushButton#sideMenu{
    background-color: #a9becc;
    color: #333;
    border-right: 1px solid #a78958;
}

QPushButton#menuBottom{
    background-color: transparent;
    color: #333;
    text-align: left;
    padding: 10px;
    font-size: 14px;
    border: none;
}
QPushButton#menuButton:hover{
    background-color: #f854ed;
    color: #ffffff;
}

QPushButton:pressed {
    background-color: #106484;
}

/* Títulos */
QLabel {
    color: #106484;
    font-size: 16px; 
    font-weight: 500;
    margin-bottom: 5px;
}

/* Tablas */
QTableWidget {
    background-color: #ffffff;
    border: 1px solid #a78958; /* Borde suave */
    color: #333;
    padding: 5px;
}

QTableWidget::item {
    text-align: center;
    vertical-align: middle;
}

QHeaderView::section {
    background-color: #106484; /* Secundario */
    color: #ffffff;
    font-weight: bold;
    padding: 5px;
}

/* Inputs de texto */
QLineEdit {
    border: 1px solid #a78958;
    border-radius: 3px;
    padding: 5px;
    background-color: #ffffff;
    margin-bottom: 10px; /* Espacio entre campos */
}

QLineEdit:focus {
    background-color: #a9becc; /* Fondo más claro */
    color: #333;
}

QMessageBox {
    background-color: #a9becc;
    color: #333;
}


.iconButton {
    background-color: transparent;
    color: #e652c9;
    border: none;
    font-size: 18px;
}

.iconButton:hover {
    color: #ff66ff;
}

.iconButton:pressed {
    color: #536f7c;
}

